How many students in class today?<br>
<br>

<br> 
<form method = "post" action = "names">
	<input type = "number" max = 100 min = 1 autofocus="autofocus" name = "user_number">
	<input type = "submit">
</form>

